<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    package="com.alonecall.nix">-->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />\-->
<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>-->
<!--   <application-->
<!--        android:label="Alone Call"-->
<!--        android:icon="@mipmap/ic_launcher">-->
<!--       <meta-data-->
<!--           android:name="com.facebook.sdk.ApplicationId"-->
<!--           android:value="@string/facebook_app_id" />-->
<!--       <activity-->
<!--           android:name="com.facebook.FacebookActivity"-->
<!--           android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
<!--           android:label="@string/app_name" />-->
<!--       <activity-->
<!--           android:name="com.facebook.CustomTabActivity"-->
<!--           android:exported="true">-->
<!--           <intent-filter>-->
<!--               <action android:name="android.intent.action.VIEW" />-->

<!--               <category android:name="android.intent.category.DEFAULT" />-->
<!--               <category android:name="android.intent.category.BROWSABLE" />-->

<!--               <data android:scheme="@string/fb_login_protocol_scheme" />-->
<!--           </intent-filter>-->
<!--       </activity>-->

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:launchMode="singleTop"-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize">-->


<!--            <meta-data-->
<!--              android:name="io.flutter.embedding.android.NormalTheme"-->
<!--              android:resource="@style/NormalTheme"-->
<!--              />-->
<!--            <meta-data-->
<!--              android:name="io.flutter.embedding.android.SplashScreenDrawable"-->
<!--              android:resource="@drawable/launch_background"-->
<!--              />-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <meta-data-->
<!--            android:name="flutterEmbedding"-->
<!--            android:value="2" />-->
<!--       <activity-->
<!--           android:name="com.yalantis.ucrop.UCropActivity"-->
<!--           android:screenOrientation="portrait"-->
<!--           android:theme="@style/Theme.AppCompat.Light.NoActionBar" />-->
<!--    </application>-->
<!--</manifest>-->


<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alonecall.nix">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />\
        <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices.-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
<application
    android:name="io.flutter.app.FlutterApplication"
    android:icon="@mipmap/ic_launcher"
    android:label="Alone Call">
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyA1J7mnrxs8kuUtSXvgbDl8DvW6K1mQefg"/>

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />
    <activity
        android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:label="@string/app_name" />
    <activity
        android:name="com.facebook.CustomTabActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/fb_login_protocol_scheme" />
        </intent-filter>
    </activity>
    <activity
        android:name=".MainActivity"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:launchMode="singleTop"
        android:theme="@style/LaunchTheme"
        android:windowSoftInputMode="adjustResize">
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />
        <meta-data
            android:name="io.flutter.embedding.android.SplashScreenDrawable"
            android:resource="@drawable/launch_background" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
</application>
</manifest>

